@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

#header4-7 H1 {
  color: #fd0400;
  font-family: 'Lato', sans-serif;
  font-size: 36px;
}
#header4-7 P {
  color: #000000;
}
#features1-2 .mbr-section__col .mbr-header__text {
  text-align: center;
}
#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#menu-4 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-6 STRONG {
  color: #000000;
}
#contacts1-6 P {
  color: #000000;
}
